/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}


header {
  padding:80px 20px 50px;
  background:#222;
  @media(min-width:360px) {
    padding:80px 30px 50px;
  }
  &.header--home {
    @media(min-width:600px) {
      padding:120px 40px;
    }
  }
  > .title,
  > .title-2 {
    position:relative;
    margin:auto;
    max-width:740px;
  }
  > .title {
    font-size:1.4em;
    font-weight:700;
    @media(min-width:360px) {
      font-size:1.8em;
    }
    @media(min-width:600px) {
      font-size:2.4em;
    }
    a {
      text-decoration: none;
      color:#fff;
    }
  }
  > .title-2 {
    padding:20px 0 0;
    font-size:1.2em;
    line-height:1.2em;
    color:$orange;
    @media(min-width:340px) {
      font-size:1.4em;
      line-height:1.4em;
    }
  }
  .animate {
    animation:350ms slideFadeIn ease-in-out;
    @keyframes slideFadeIn {
      0%{opacity:0;transform:translate3d(-10px,0,0)}
    }
  }
  .circle,
  .square {
    position:absolute;
    top:-60px;
    right:-10px;
    width:60px;
    height:60px;
    background:$orange;
    border-radius:100%;
    @media (min-width:500px) {
      top:0;
      right:0;
      width:100px;
      height:100px;
    }
  }
  .square {
    top:-30px;
    right:20px;
    width:50px;
    height:50px;
    border-radius:0;
    background:yellow;
    @media (min-width:500px) {
      top:50px;
      right:50px;
      width:90px;
      height:90px;
    }
  }
  
  .circle {
    animation:800ms aniCircle ease-in-out;
    @keyframes aniCircle {
      0%{transform:translate3d(0,0,0) scale(1)}
      40%{transform:translate3d(20px,-20px,0) scale(0.5)}
    }
  }
  .square {
    animation:800ms aniSquare ease-in-out;
    @keyframes aniSquare {
      0%{transform:translate3d(0,0,0) scale(1)}
      40%{transform:translate3d(-40px,40px,0) scale(1.6) rotate(-10deg)}
    }
  }
  
}
.nav-center {
  position:sticky;
  top:0;
  background:#222;
  padding:0 30px;
  justify-content:center;
  display:flex;
  color:#fff;
  @media(min-width:600px) {
    padding:0 40px;
  }
}
nav {
  flex:1;
  margin:0 -5px;
  max-width:750px;
  color: #fff;
  display:flex;
  @media(min-width:600px) {
    margin:0 -10px;
  }
  > a,
  > a:visited {
    margin:0 5px;
    font-size:0.8em;
    font-weight:700;
    padding:14px 0;
    text-align:center;
    text-decoration:none;
    background:#111;
    color:#fff;
    flex:1;
    &:hover {
      background:#111;
      text-decoration:none;
      color: #fff;
    }
    &.active {
      background:$orange;
      color:#222;
    }
    @media(min-width:340px) {
      padding:14px 0;
    }
    @media(min-width:375px) {
      font-size:0.9em;
      padding:15px 8px;
    }
    @media(min-width:500px) {
      font-size:1em;
      max-width:90px;
      padding:15px 0;
    }
  }
}

/**
 * Site footer
 */
footer {
  text-align: center;
  padding:60px 20px;
  color:#fff;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
main.list-of-posts {
  > .card {
    margin:30px auto 0;
    padding:20px;
    max-width:740px;
    border:1px solid rgba(0,0,0,0.1);
    overflow:hidden;
    &:last-child {
      margin-bottom:30px;
    }
    @media (min-width:500px) {
      margin:40px auto 0;
      padding:40px;
      &:last-child {
        margin-bottom:40px;
      }
    }
    > .date {
      font-weight:700;
      color: rgb(205, 205, 205);
    }
    > .title {
      font-size:1.4em;
      font-weight:700;
      line-height:1.3em;
      margin-bottom:20px;
      text-decoration: none;
      color:#222;
      &:after {
        content:'';
        display:block;
        margin-top:20px;
        background:$orange;
        width:100px;
        height:4px;
      }
    }
    > .summary {
      line-height:1.4em;
      margin-bottom:20px;
    }
    > .read {
      padding:15px 40px;
      float:right;
      text-decoration:none;
      background:$orange;
      font-weight:700;
      color:#222;
    }
  }
}

main.list-of-posts,
main.blog-post {
  padding:0 20px;
  background:#fff;
  overflow:hidden;
  @media(min-width:340px) {
    padding:0 30px;
  }
  @media(min-width:600px) {
    padding:0 40px;
  }
}

.post {
  margin:40px auto 0;
  max-width:740px;
  &:after {
    display: table;
    clear: both;
    content: '';
  }
  @media (min-width:500px) {
    margin:60px auto 0;
  }
  .post-meta {
    margin:0 0 5px;
    font-weight:700;
    color: rgb(205, 205, 205);
  }
  .post-tags {
    margin: 0 0 15px;
    font-weight:700;
    color: rgb(205, 205, 205);
    span:before {
      content:'#';
    }
  }
  .post-title {
    line-height: 1.4em;
    font-weight:700;
    margin: 0 0 30px;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  pre,
  code {
    background:rgb(244, 244, 244);
  }
  pre {
    position:relative;
    border:0;
    border-radius:0;
    padding:20px 0;
  }
  .highlight {
    position:relative;
    &:before {
      position:absolute;
      margin:auto;
      top:0;
      left:-9999px;
      right:-9999px;
      width:100vw;
      height:100%;
      background:rgb(244, 244, 244);
      z-index:0;
      content:'';
    }

  }

}
